{{!
    This file is part of the KIKA_CHAT Moodle block.
    License: MIT.
}}
{{!
    @template block_kika_chat/report_page

    This template renders the report page form

    Example context (json):
    {
        "courseid": int, the ID of the course we are looking at
        "link": string, the URL for the form action
        "user": string, the value of the user field
        "starttime": string, the value of the starttime field
        "endtime": string, the value of the endtime field
    }
}}

<form class='block_kika_chat' method='GET' action='{{link}}'>
    <input type='hidden' name='courseid' value='{{courseid}}' />
    <div class='report_container'>
        <div style='display: flex; flex-direction: column'>
            <label for='user'>Buscar por nombre de usuario</label>
            <input id='user' name='user' type='text' value='{{user}}' placeholder='Nombre de usuario'/>
        </div>
        <div style='display: flex; flex-direction: column'>
            <label for='starttime'>Fecha de inicio</label>
            <input id='starttime' type='datetime-local' name='starttime' value='{{starttime}}' />
        </div>
        <div style='display: flex; flex-direction: column'>
            <label for='endtime'>Fecha de fin</label>
            <input id='endtime' type='datetime-local' name='endtime' value='{{endtime}}' />
        </div>
    </div>
    <button class='btn btn-primary' type='submit'>Buscar</button>
</form>
<br />
